CONFIG_ZMK_SLEEP=y
CONFIG_ZMK_PM_SOFT_OFF=y

if SHIELD_KILROY_LEFT

config ZMK_KEYBOARD_NAME
    default "Kilroy"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y
    
config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_KILROY_LEFT || SHIELD_KILROY_RIGHT

config ZMK_SPLIT
    default y

endif