#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        tdlayer: tdlayer {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            label = "tdlayer";
            flavor = "tap-preferred";
            bindings = <&mo>, <&kp>;
            tapping-term-ms = <250>;
            quick-tap-ms = <100>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
             &kp Q &kp W &kp F &kp P &kp B      &kp J &kp L &kp U &kp Y &kp SEMI
             &kp A &kp R &kp S &kp T &kp G          &kp M &kp N &kp E &kp I &kp O
             &kp Z &kp X &kp C &kp D &kp V          &kp K &kp H &kp COMMA &kp DOT &kp FSLH
                         &kp ESC &kp TAB &kp SPACE    &kp BACKSPACE &kp RET &kp GRAVE
            >;

        };

    };

};